* {
  margin: 0;
  padding: 0;
}



.footer {
  background-color: #0c4783;
  color: #fff;
}

.footer-wave-path {
  fill: #ffffff;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 150px;
  position: relative;
}

