.underL {
    position: relative;
    transition: color 0.3s;

}


.underL::after {
    content: "";
    position: absolute;
    background-color: #605fbe;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.shadow2  {
    transition: .5s ease;
}

.shadow2:hover{
    /*
    box-shadow:
        1px 1px #373737,
        2px 2px #373737,
        3px 3px #373737,
        4px 4px #373737,
        5px 5px #373737,
        6px 6px #373737;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;*/
    
    transform: scale(1.1);

}